﻿@model BaseProject.Models.CategoriaProducto.CategoriaProductoViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Nueva Categoria Producto</h1>
    </div>
    <div class="panel-body">
        <form id="frm" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.Activo)

                <div class="form-group">
                    <label class="col-lg-12">Descripcion: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function (){

        $('#frm').validate({
            ignore: [],
            rules: {
                Descripcion: {
                    required: true,
                    maxlength: 150
                }
            },
            messages: {
                Descripcion: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 150 caracteres"
                }
            },
            submitHandler: function (form) {
                AjaxFunctionCreateEdit('/CategoriaProducto/CrearCategoria', $(form).serialize(), dtCategoria);
                return false;
            }
        });

    });

</script>