﻿
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nueva Categoria</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Listado Categoria Producto</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtCategoria">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>

        var dtCategoria;

        $(document).ready(function () {


            dtCategoria = $('#dtCategoria').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("ObtenerTabla", "CategoriaProducto")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Descripcion", "autoWidth": true },
                    {
                        data: null,
                        render: function (data) {
                            if (data.Activo) {
                                return '<div class="label label-success">Si</div>';
                            } else {
                                return '<div class="label label-danger">No</div>';
                            }
                        }
                    },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {

                            var activar = "";
                            var clase = "";

                            if (row.Activo) {
                                clase = ""
                                activar = '<li><a href="javascript: void(0)" data-categoria="' + row.Id + '" name="Desactivar"> Desactivar</a>';
                            } else {
                                clase = "disabled";
                                activar = '<li><a href="javascript: void(0)" data-categoria="' + row.Id + '" name="Activar"> Activar</a>';
                            }

                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li class="'+clase+'"><a class="'+clase+'" href="javascript: void(0)" data-categoria="' + row.Id + '" name="Edit">Editar</a>' +
                                activar +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {
            MostrarModal('/CategoriaProducto/CrearCategoria', null);
        });


        $('#dtCategoria tbody').on('click', 'a[name="Edit"]', function () {

            var isDisabled = $(this);

            if (isDisabled[0].className !== "disabled") {
                var categoria = $(this).data('categoria');
                var data = {
                    idCategoria: categoria
                };
                MostrarModal('/CategoriaProducto/EditarCategoria', data);
            }

            
        });

        $('#dtCategoria tbody').on('click', 'a[name="Desactivar"]', function () {

            var categoria = $(this).data('categoria');

            var data = { Id: categoria };

            DeshabilitarRegistro(data, dtCategoria, '/CategoriaProducto/CambiarEstado/', 'Desea inhabilitar la categoria?','text-danger');

        });

        $('#dtCategoria tbody').on('click', 'a[name="Activar"]', function () {

            var categoria = $(this).data('categoria');

            var data = { Id: categoria };

            DeshabilitarRegistro(data, dtCategoria, '/CategoriaProducto/CambiarEstado/', 'Desea habilitar la categoria?','text-primary');

            

        });


    </script>


}