﻿@model BaseProject.Models.Materiales.MaterialesViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-edit fa-fw"></i> Editar Material @Model.Nombre</h1>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <form id="frm" method="post">
                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="col-lg-12">Código: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Nombre: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Descripción: </label>
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Escribir la descripcion del proudcto aqui", @rows = 10, @width = "100%", @style = "resize: none;" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Marca: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Categoria: </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("CategoriaId", Model.lstCategoria as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Tipo Medida: </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("TipoMedidaId", Model.lstTipoMedida as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="col col-lg-6 col-md-6 col-xs-12">
                <form action="@Url.Action("SubirAdjuntoMaterial", "Materiales", new { idMaterial = Model.Id})" class="dropzone dz-clickable js-dropzone" id="mydropzone" style="height:100%">
                    <div class="dz-default dz-message">
                        <span>
                            <span class="text-center">
                                <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                    <span class="font-lg">
                                        <i class="fas fa-file-image text-danger"></i>
                                        </i> Drop files <span class="font-xs">to upload</span>
                                    </span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span>
                                </span>
                            </span>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        

        <br />

        <div class="widget-footer">
            <button type='button' class='btn btn-danger js-regresar'><i class="text-lg fas fa-arrow-left"></i> Cerrar</button>
            <button type="submit" class="btn btn-success js-enviar"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
        </div>


    </div>
</div>


@section Scripts{
    
    <script>

        var myDropzone;

        var yaSubio = false;
        Dropzone.autoDiscover = false;

    $(document).ready(function () {

        $('.select2').chosen();

        
        $('#mydropzone').dropzone({
            autoProcessQueue: false,
            addRemoveLinks: true,
            maxFilesize: 50,
            maxFiles: 10,
            parallelUploads: 10,
            uploadMultiple: true,
            dictDefaultMessage:
                '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
            dictResponseError: 'Error uploading file!',
            removedfile: function(file) {
                if (file.id)
                    DeleteFile(file);
            },
            init: function() {

                myDropzone = this;

                $.ajax({
                    url: '@Url.Action("ObtenerAdjunto", "Materiales")',
                    type: "GET",
                    data: { idMaterial: '@Model.Id' },
                    success: function (adjuntos) {
                        console.log(adjuntos);

                        var file = { name: adjuntos.nombre, size: Number(adjuntos.AdjuntoLength), type: adjuntos.tipo, id: adjuntos.idAdjunto };
                        var idAdjunto = adjuntos.idAdjunto;
                        myDropzone.options.addedfile.call(myDropzone, file);
                        myDropzone.files.push(file)
                        myDropzone.on("complete", function (file) {
                            var a = document.createElement('a');
                            a.setAttribute('href', "@Url.Action("DescargarAdjunto", "Materiales")?&idAdjunto=" + idAdjunto);
                            a.setAttribute('class', 'dz-remove js-download');
                            a.setAttribute('target', '_blank');
                            a.innerHTML = "Download";
                            $(file.previewTemplate).find('.js-download').remove();
                            file.previewTemplate.appendChild(a);
                        });
                        myDropzone.emit("complete", file);


                    },
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    }
                });

                myDropzone.on('complete',
                    function(file) {
                        if (yaSubio) {
                            window.location.href = '@Url.Action("Index","Materiales")';
                        }
                    });

            }
                
        });



        $('#frm').validate({
            ignore: [],
            rules: {
                Codigo: {
                    required: true,
                    maxlength: 6
                },
                Nombre: {
                    required: true,
                    maxlength: 200
                },
                Descripcion: {
                    required: true
                },
                Marca: {
                    required: true,
                    maxlength: 200
                },
                TipoMedidaId: {
                    required: true
                }
            },
            messages: {
                Codigo: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 6 caracteres"
                },
                Nombre: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 200 caracteres"
                },
                Descripcion: {
                    required: "Campo requerido",
                },
                Marca: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 200 caracteres"
                },
                TipoMedidaId: {
                    required: "Campo requerido",
                }

            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarMaterial","Materiales")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            if (myDropzone.getQueuedFiles().length > 0) {
                                LoadWaitNotification();
                                yaSubio = true;
                                myDropzone.processQueue();
                                UnloadWaitNotification();
                            } else {
                                window.location.href = '@Url.Action("Index","Materiales")';
                            }
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });


    });


        function DeleteFile(file) {

            $.ajax({
                url: '@Url.Action("EliminarArchivo", "Materiales")',
                type: "get",
                data: { idAdjunto: file.id },
                beforeSend: function () {
                    LoadWaitNotification();
                },
                complete: function () {
                    UnloadWaitNotification();
                },
                success: function (result) {
                    if (result.Ok) {
                        var _ref;
                        (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                        
                    } else {
                        
                    }
                }
            });


        }

        $(document).on('click', '.js-enviar', function(){
            $('#frm').submit();
        })

        $(document).on('click', '.js-regresar', function () {
            window.location.href = '@Url.Action("Index","Materiales")';
        });

    </script>

}
    



