﻿
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nuevo Material</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-toolbox fa-fw"></i>Listado de Materiales</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtMateriales">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Tipo Medida</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

@section Scripts{

    <script>

        var dtMateriales;

        $(document).ready(function () {

            dtMateriales = $('#dtMateriales').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTabla", "Materiales")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Codigo", "autoWidth": true },
                    { "data": "Nombre", "autoWidth": true },
                    { "data": "Marca", "autoWidth": true },
                    { "data": "TipoMedida", "autoWidth": true },
                    {
                        data: null,
                        render: function (data) {
                            if (data.Activo) {
                                return '<div class="label label-success">Si</div>';
                            } else {
                                return '<div class="label label-danger">No</div>';
                            }
                        }
                    },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {

                            var activar = "";

                            if (row.Activo) {
                                activar = '<li><a href="javascript: void(0)" data-material="' + row.Id + '" name="Desactivar"> Desactivar</a>';
                            } else {
                                activar = '<li><a href="javascript: void(0)" data-material="' + row.Id + '" name="Activar"> Activar</a>';
                            }


                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-material="' + row.Id + '" name="Edit">Editar</a>' +
                                activar +
                                '</ul></div>';
                        }
                    }
                ]
            });

        });

        $(document).on('click', '.js-crear', function () {

            window.location.href = '@Url.Action("CrearMaterial","Materiales")';


        });


        $('#dtMateriales tbody').on('click', 'a[name="Edit"]', function () {

            var material = $(this).data('material');

            window.location.href = '@Url.Action("EditarMaterial","Materiales")?idMaterial='+material;

        });

        $('#dtMateriales tbody').on('click', 'a[name="Desactivar"]', function () {

            var material = $(this).data('material');

            var data = { Id: material };

            DeshabilitarRegistro(data, dtMateriales, '/Materiales/CambiarEstado/', 'Desea inhabilitar el Material?','text-danger');

        });

        $('#dtMateriales tbody').on('click', 'a[name="Activar"]', function () {

            var material = $(this).data('material');

            var data = { Id: material };

            DeshabilitarRegistro(data, dtMateriales, '/Materiales/CambiarEstado/', 'Desea habilitar el material?','text-primary');

            

        });


    </script>
    
}
