﻿
<!DOCTYPE html>
<html lang="es-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>VIDRIERIA</title>

    @*<link rel="shortcut icon" href="~/img/bp-ico.icoo" type="image/x-icon" />*@
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
    <!--STYLESHEET-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    <link href="~/Template/css/themes/type-d/theme-dark.min.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("_PartialModal")
    <div id="container" class="effect aside-float aside-bright mainnav-lg" style="background-image: url('../../Template/premium/boxed-bg/polygon/bg/3.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

        <!--NAVBAR-->
        <!--===================================================-->
        @Html.Partial("_PartialHeader")
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div id="page-head">

                    <!--Page Title-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    @*<div id="page-title">
                        <h1 class="page-header text-center"><b>BP WALLET</b></h1>
                        </div>*@
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End page title-->
                    <!--Breadcrumb-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    @*<ol class="breadcrumb">
                            <li><a href="#"><i class="pli-home"></i></a></li>
                            <li><a href="#">Library</a></li>
                            <li class="active">Data</li>
                        </ol>*@
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End breadcrumb-->


                </div>

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    @RenderBody()
                </div>


                <!--Floating Button-->
                <!--===================================================-->
                @*@if (User.IsInRole("Registros_Acceso"))
                    {
                        <a class="btn btn-success float in" href="javascript:void(0)" onclick="MostrarCrearRegistro()" style="position: fixed; animation: jellyIn 0.8s ease 0s 1 normal none running;">
                            <i class="fa fa-pencil-alt my-float"></i>
                        </a>

                        <div class="label-container">
                            <div class="label-text">Nuevo Registro</div>
                            <i class="fa fa-play label-arrow"></i>
                        </div>

                    }*@

                <!--===================================================-->
                <!--End page content-->
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            @Html.Partial("_PartialMenu")
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
            <!--ASIDE-->
            <!--===================================================-->
            @Html.Partial("_PartialAside")
            <!--===================================================-->
            <!--END ASIDE-->

        </div>



        <!-- FOOTER -->
        <!--===================================================-->
        @*@Html.Partial("_PartialFooter")*@
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>

        

        


        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/personalized")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script>

        window.FontAwesomeConfig = { searchPseudoElements: true };

    </script>

</body>
</html>

<style>

    .error {
        color: #a94442;
        /*margin-left: 12px;*/
    }
    .status2 {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
    }

</style>
