﻿<header id="navbar">
    <div id="navbar-container" class="boxed">

        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">
                @*<img src="~/Template/img/logo.png" alt="Nifty Logo" class="brand-icon">*@
                <img src="~/img/Logo-mini.png" alt="Logo" class="brand-icon"/>
                <div class="brand-title">
                    <span class="brand-text"> El Cirstal</span>
                </div>
            </a>
        </div>

        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links">


                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="ion-navicon-round" style="font-size: 20px;"></i>
                    </a>
                </li>


                <li>

             </li>









            </ul>
            <ul class="nav navbar-top-links">


                

                <li id="dropdown-user" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                        <span class="ic-user pull-right">
                            
                            <img class="img-circle img-user media-object" src="~/Template/img/profile-photos/1.png" alt="Profile Picture">

                        </span>
                        
                    </a>


                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                        <ul class="head-list">


                            <li>
                                <a href="@Url.Action("LogOff", "Account")"><i class="pli-unlock icon-lg icon-fw"></i> Cerrar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End user dropdown-->
                <li>
                    @*<a href="#" class="aside-toggle">
                <i class="ion-plus-circled" style="font-size: 20px;"></i>
            </a>*@
                </li>



            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>
