﻿
<nav id="mainnav-container">
    <div id="mainnav">
        <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
        <!--It will only appear on small screen devices.-->
        <link href="~/Template/css/Layout.css" rel="stylesheet" />
        <div class="mainnav-brand">
            <a href="index.html" class="brand">
                <img src="~/img/Logo-mini.png" width="50%"  alt="Logo" class="brand-icon" />
            
                <span class="brand-text"> El Cirstal</span>
            </a>
            <a href="#" class="mainnav-toggle"><i class="ion-close-round icon-lg"></i></a>
        </div>

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <div class="pad-btm">
                                <img class="img-circle img-md" src="~/Template/img/profile-photos/1.png" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name">@User.Identity.Name</p>
                                <span class="mnp-desc">Usuario</span>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a href="#" class="list-group-item">
                                <i class="fas fa-key"></i> Cambiar Contraseña
                            </a>
                            <a href="@Url.Action("LogOff", "Account")" class="list-group-item">
                                <i class="pli-unlock icon-lg icon-fw"></i> Cerrar Sesion
                            </a>
                        </div>
                    </div>


                    <ul id="mainnav-menu" class="list-group">

                        <li class="list-header">Seguridad</li>
                        <li>
                            <a href="@Url.Action("Usuario","Seguridad")">
                                <i class="fa fa-user fa-fw"></i>
                                <span class="menu-title"><strong>Usuarios</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Roles","Seguridad")">
                                <i class="fas fa-user-lock fas-fw"></i>
                                <span class="menu-title"><strong>Permisos</strong></span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                    </ul>

                    <ul id="mainnav-menu" class="list-group">

                        <li class="list-header">Configuraciones</li>
                        <li>
                            <a href="@Url.Action("Sucursales","Seguridad")">
                                <i class="fa fa-building fa-fw"></i>
                                <span class="menu-title"><strong>Sucursales</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","TipoMedida")">
                                <i class="fas fa-ruler-combined fa-fw"></i>
                                <span class="menu-title"><strong>Tipo Medida</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Materiales")">
                                <i class="fas fa-toolbox fa-fw"></i>
                                <span class="menu-title"><strong>Materiales</strong></span>
                            </a>
                            <a href="@Url.Action("Index","Categoria")">
                                <i class="fas fa-list-alt fa-fw"></i>
                                <span class="menu-title"><strong>Categorias</strong></span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                    </ul>

                    <ul id="mainnav-menu" class="list-group">
                        <li class="list-header">Inventario</li>
                        <li>
                            <a href="@Url.Action("Index","Inventario")">
                                <i class="fas fa-boxes fa-fw"></i>
                                <span class="menu-title"><strong>Inventario</strong></span>
                            </a>
                            <a href="@Url.Action("Index","Kardex")">
                                <i class="fas fa-exchange-alt fa-fw"></i>
                                <span class="menu-title"><strong>Kardex</strong></span>
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

    </div>
</nav>















