﻿@model BaseProject.Models.Seguridad.UsuarioViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Crear Ususario</h1>
    </div>
    <div class="panel-body">
        <form id="frmUsuario" method="post">
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-12">Nombre: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-12">Usuario: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Sucursal: </label>
                    <div class="col-lg-12">
                        @Html.DropDownList("idSucursal", Model.lstSucursal as IEnumerable<SelectListItem>, "-- Seleccione una sucursal --" , new { @class = "form-control select2", @style = "width: 100%;" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Correo: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Cargo: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.cargo, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Contraseña: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>



                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>


<script>

    $(document).ready(function (){

        $('#frmUsuario').validate({
            ignore: [],
            rules: {
                nombre: {
                    required: true
                },
                usuario: {
                    required: true
                },
                contrasena: {
                    required: true,
                    minlength: 5
                },
                email: {
                    email: true
                },
                idSucursal: {
                    required: true
                },
                cargo: {
                    required: true
                }

            },
            messages: {
                nombre: {
                    required: "Nombre del usuario requerido"
                },
                usuario: {
                    required: "Usuario requerido"
                },
                contrasena: {
                    required: "Contraseña requerida",
                    minlength: "Por Favor introduzca al menos 5 caracteres para la contraseña"
                },
                email: {
                    email: "Ingrese una direccion de correo valida"
                },
                idSucursal: {
                    required: "Seleccione una sucursal"
                },
                cargo: {
                    required: "Ingrese cargo del usuario"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("CrearUsuario","Seguridad")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            $("#myModal").modal("hide");
                            dtUsuarios.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });

    });

</script>



