﻿@model BaseProject.Models.SucursalViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-building fa-fw"></i> Editar Sucursal @Model.sucursal</h1>
    </div>
    <div class="panel-body">
        <form id="frmSucursal" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    <label class="col-lg-12">Sucursal: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.sucursal, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-12">Direccion: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-12">Telefono: </label>
                    <div class="col-lg-12">
                        <input class="form-control input-lg numeric" id="telefono" name="telefono" type="text" value="@Model.telefono"/>
                        
                    </div>
                </div>

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>
            
        </form>

    </div>
</div>

<script>

    $(document).ready(function () {

        

        $('#frmSucursal').validate({
            ignore: [],
            rules: {
                sucursal: {
                    required: true
                },
                direccion: {
                    required: true
                },
                telefono: {
                    required: true,
                    maxlength: 10,
                    minlength:8
                }
            },
            messages: {
                sucursal: {
                    required: "Nombre de la Sucursal requerido"
                },
                direccion: {
                    required: "Direccion de la Sucursal requerida"
                },
                telefono: {
                    required: "Telefono de la Sucursal requerido",
                    maxlength: "Ingrese un Maximo de 10 números",
                    minlength: "Ingrese un minimo de 9 números"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarSucursal", "Seguridad")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            
                            $("#myModal").modal("hide");
                            dtSucursales.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });
    });


</script>
