﻿
@{
    ViewBag.Title = "Usuario";
}

<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a  class="btn btn-success js-crear"><i class="fa fa-plus fa-fw"></i> Nuevo Usuario</a>
        </div>
        <h3 class="panel-title"> <i class="fa fa-user fa-fw"></i>Lista de Usuarios</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtUsuarios">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Usuario</th>
                    <th>Correo Electronico</th>
                    <th>Cargo</th>
                    <th>Sucursal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
</div>


@section Scripts {

    <script>

        var dtUsuarios;

        $(document).ready(function () {

            dtUsuarios = $('#dtUsuarios').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTablaUsuario", "Seguridad")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "nombre", "autoWidth": true },
                    { "data": "usuario", "autoWidth": true },
                    { "data": "email", "autoWidth": true },
                    { "data": "cargo", "autoWidth": true },
                    { "data": "sucursal", "autoWidth": true },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-usuario="' + row.usuario + '" name="Edit">Editar</a>' +
                                '<li><a href="javascript: void(0)" data-usuario="' + row.usuario + '" name="Change">Cambiar Contraseña</a>' +
                                '<li><a href="javascript: void(0)" data-usuario="' + row.usuario + '" name="addRol">Asignar Permisos</a>' +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {

            $.ajax({
                url: "@Url.Action("CrearUsuario", "Seguridad")",
                type: "GET",
                beforeSend: function() {
                    LoadWaitNotification();
                },
                complete: function() {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });


        });

        $('#dtUsuarios tbody').on('click', 'a[name="Edit"]', function () {

            var usuario = $(this).data('usuario');
            $.ajax({
                    url: "@Url.Action("EditarUsuario", "Seguridad")",
                    type: "GET",
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    data: { usuario: usuario },
                    success: function (data) {
                        $("#modalBody").html(data);
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $("#myModal").modal("show");
                    }
                });

        });

        $('#dtUsuarios tbody').on('click', 'a[name="Change"]', function () {

            var usuario = $(this).data('usuario');

            $.ajax({
                    url: "@Url.Action("ChangePassword", "Seguridad")",
                    type: "GET",
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    data: { usuario: usuario },
                    success: function (data) {
                        $("#modalBody").html(data);
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $("#myModal").modal("show");
                    }
                });

        });

        $('#dtUsuarios tbody').on('click', 'a[name="addRol"]', function () {

            var usuario = $(this).data('usuario');

            $.ajax({
                url: "@Url.Action("AsignarPermisos", "Seguridad")",
                type: "GET",
                beforeSend: function() {
                    LoadWaitNotification();
                },
                complete: function() {
                    UnloadWaitNotification();
                },
                data: { usuario: usuario },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });

        });


    </script>    
    
}

