﻿@model BaseProject.Models.Inventario.InventarioViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Agregar material al inventario </h1>
    </div>
    <div class="panel-body">

        <form id="frm" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.SucursalId)

                <div class="form-group">
                    <label class="col-lg-12">Material: </label>
                    <div class="col-lg-12">
                        @Html.DropDownList("MaterialId", Model.lstMateriales as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Proveedor: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Proveedor, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Cantidad: </label>
                    <div class="col-lg-12">
                        <input class="form-control numeric" name="Cantidad" id="Cantidad" type="text"/>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Precio Compra: </label>
                    <div class="col-lg-12">
                        <input class="form-control decimal" name="PrecioCompra" id="PrecioCompra" type="text" />
                       

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Precio Venta: </label>
                    <div class="col-lg-12">
                        <input class="form-control decimal" name="PrecioVenta" id="PrecioVenta" type="text" />
                        

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Observaciones: </label>
                    <div class="col-lg-12">
                        @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @rows = 5, @width = "100%", @style = "resize: none;" })

                    </div>
                </div>

                

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success js-enviar"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $.validator.addMethod('decimal', function(value, element) {
        return this.optional(element) || /^((\d+(\\.\d{0,2})?)|((\d*(\.\d{1,2}))))$/.test(value);
    }, "Porfavor ingrese un numero correcto con el formato 0.00");

    $(document).ready(function () {

        $('.select2').chosen();

        $(".numeric").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/)) return false;
        });

        $(".decimal").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9.]/)) return false;
        });

        $('#frm').validate({
            ignore: [],
            rules: {
                Proveedor: {
                    required: true,
                    maxlength: 400
                },
                Cantidad: {
                    required: true
                },
                PrecioCompra: {
                    required: true,
                    decimal: true
                },
                PrecioVenta: {
                    required: true,
                    decimal: true
                },
                Observaciones: {
                    required: true,
                    maxlength: 400
                }
            },
            messages: {
                Proveedor: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 400 caracteres"
                },
                Cantidad: {
                    required: "Campo requerido"
                },
                PrecioCompra: {
                    required: "Campo requerido",
                },
                PrecioVenta: {
                    required: "Campo requerido",
                },
                Observaciones: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 400 caracteres"
                }

            },
            submitHandler: function (form) {
                AjaxFunctionCreateEdit('/Inventario/AgregarMaterial',$(form).serialize(),dtInventario)
                return false;
            }
        });

    });


</script>