﻿@model BaseProject.Models.Inventario.SucursalUsuarioViewModel
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Agregar Material a Inventario</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-toolbox fa-fw"></i>Inventario Sucursal @Model.Sucursal</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtInventario">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Precio Compra</th>
                    <th>Precio Venta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

@section Scripts{

    <script>

        var dtInventario;

        $(document).ready(function () {

            dtInventario = $('#dtInventario').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTabla", "Inventario")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Codigo", "autoWidth": true },
                    { "data": "Nombre", "autoWidth": true },
                    { "data": "Proveedor", "autoWidth": true },
                    { "data": "Cantidad", "autoWidth": true },
                    { "data": "PrecioCompra", "autoWidth": true },
                    { "data": "PrecioVenta", "autoWidth": true },
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-inventario="' + row.Id + '" name="Ver">Ver</a>' +
                                '</ul></div>';
                        }
                    }
                ]
            });

        });

        $(document).on('click', '.js-crear', function () {

            
            MostrarModal('/Inventario/AgregarMaterial?idSucursal=@Model.SucursalId', null);

        });


        $('#dtInventario tbody').on('click', 'a[name="Ver"]', function () {

            var inventario = $(this).data('inventario');
            var data = { idInventario: inventario };
            MostrarModal('/Inventario/VerMaterialInventario', data);

        });

        $('#dtMateriales tbody').on('click', 'a[name="Activar"]', function () {

            var material = $(this).data('material');

            var data = { Id: material };

            DeshabilitarRegistro(material, dtMateriales, '/Materiales/CambiarEstado/', 'Desea habilitar el material?','text-primary');



        });


    </script>

}
