﻿@model BaseProject.Models.Inventario.VerMaterialInventario

    <div class="panel panel-dark">
        <div class="panel-heading">
            <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Material @Model.Nombre </h1>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <form id="frm" method="post">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-12">Sucursal: <strong>@Model.Sucursal</strong></label>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Material: <strong>@Model.Nombre</strong></label>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Proveedor: <strong>@Model.Proveedor</strong></label>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Cantidad: <strong>@Model.Cantidad</strong></label>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Precio Compra: <strong>@Model.PrecioCompra</strong></label>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Precio Venta: <strong>@Model.PrecioVenta</strong></label>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-12">Observaciones: <strong>@Model.Observaciones</strong></label>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <img src="@Model.base64Img" style="width:100%;height:100%" />

                </div>
            </div>

            <div class="widget-footer">
                <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
            </div>


            </div>
    </div>


