﻿@model BaseProject.Models.Kardex.KardexViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Nueva Transaccion Kardex </h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col col-lg-12 col-md-12 col-xs-12">

                <form id="frm" method="post">
                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.SucursalId)

                        <div class="form-group">
                            <label class="col-lg-12">Referencia: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Tipo Transaccion: </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("TransaccionId", Model.lstTransacciones as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                            </div>
                        </div>



                    </div>

                </form>


            </div>

            <div class="col col-lg-12 col-md-12 col-xs-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Agregar Materiales</legend>
                    <form method="post" id="frmMaterial">
                        <div class="form-horizontal">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Material</label>

                                        <div class="col-md-12">
                                            @Html.DropDownList("Material", Model.lstProductos as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Cantidad: </label>
                                        <div class="col-md-10 col-sm-10 col-lg-10">
                                            <input class="form-control numeric" name="Cantidad" id="Cantidad" type="text" />
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-lg-1">
                                            <div class="btn btn-primary btn-sm js-addmaterial" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Material"><i class="fa fa-plus"></i></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Materiales</legend>

                    <table class="table table-reponsive table-bordered" id="dtMateriales" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th data-class="expand">Materiales</th>
                                <th data-class="expand">Cantidad</th>
                                <th data-class="expand"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </fieldset>


            </div>

        </div>

        <br />

        <div class="widget-footer">
            <button type='button' class='btn btn-danger js-salir' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
            <button type="submit" class="btn btn-success js-enviar"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
        </div>

    </div>
</div>

@section Scripts{
    
    <script>
        var dtMateriales;
        var Materiales = [];
        $(document).ready(function () {

            $('.select2').chosen();

            $('#dtMateriales').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });

            dtMateriales = $('#dtMateriales').DataTable();

            $('#frm').validate({
                ignore: [],
                rules: {
                    Referencia: {
                        required: true,

                    },
                    TransaccionId: {
                        required: true
                    }
                },
                messages: {
                    Referencia: {
                        required: "Campo requerido",
                    },
                    TransaccionId: {
                        required: "Campo requerido"
                    }
                },
                submitHandler: function (form) {

                    var model = {
                        Referencia: $('#Referencia').val(),
                        SucursalId: '@Model.SucursalId',
                        TransaccionId: $('#TransaccionId option:selected').val(),
                        lstDetalle: Materiales
                    };


                    $.ajax({
                        url: "@Url.Action("CrearTransaccion","Kardex")",
                        type: "post",
                        dataType: "JSON",
                        data: {model: model},
                        beforeSend: function () {
                            LoadWaitNotification();
                        },
                        complete: function () {
                            UnloadWaitNotification();
                        },
                        success: function (data) {
                            if (data.Ok) {
                                AlertaAjaxCallback(data, '/Kardex/Index');
                            }
                            else {
                                AlertaAjax(data);
                            }
                        }
                    });



                    return false;
                }
            });


            $('#frmMaterial').validate({
                ignore: [],
                rules: {
                    Material: {
                        required: true,

                    },
                    Cantidad: {
                        required: true
                    }
                },
                messages: {
                    Material: {
                        required: "Campo requerido",
                    },
                    Cantidad: {
                        required: "Campo requerido"
                    }
                },
                submitHandler: function (form) {

                    var material = $('#Material option:selected').text();
                    var cantidad = $('#Cantidad').val();

                    var existe = false;

                    dtMateriales.rows().every(function (rowIdx, tableLopp, rowLopp) {
                        if (this.data()[0] === material) {
                            existe = true;
                        }

                    });

                    if (existe) {
                        var ErrorData = {
                            Ok: false,
                            Message: "El producto ya se ha agregado!"
                        };
                        AlertaAjax(ErrorData);
                    } else {

                        var transaccion = $('#TransaccionId option:selected').val();
                        var materialId = $('#Material option:selected').val();

                        if (transaccion == 2) {

                            VerificarCantidad(materialId, cantidad,material);

                        } else {
                            AgregarDatos(materialId, cantidad,material);
                        }

                    }

                    return false;
                }
            });

            


        });

        $(document).on('click', '.js-addmaterial', function () {
            $('#frmMaterial').submit();
        });


        $('#dtMateriales tbody').on('click',
            'button',
            function() {

                var row = $(this).parents('tr');

                var data = $(this).data('material');

                console.log(data);

                $.each(Materiales, function (i, item) {
                    console.log(item);
                    if (parseInt(item.MaterialId) === data) {
                        Materiales.splice(i, 1);
                        console.log(Materiales);
                        dtMateriales.row(row).remove().draw(false);
                    }

                });

               
            });


        $(document).on('click', '.js-salir', function () {
            window.location.href = '@Url.Action("index")';
        });

        $(document).on('click', '.js-enviar', function () {
            $('#frm').submit();
        });


        function VerificarCantidad(MaterialId, Cantidad,material) {
            
            $.ajax({
                url: "@Url.Action("VerificarCantidad","Kardex")",
                type: "post",
                dataType: "JSON",
                data: { MaterialId: MaterialId, Cantidad: Cantidad },
                beforeSend: function () {
                    LoadWaitNotification();
                },
                complete: function () {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    if (data.Ok) {
                        AgregarDatos(MaterialId, Cantidad,material);
                        
                    }
                    else {
                        AlertaAjax(data);
                    }
                }
            });

            

        }


        function AgregarDatos(materialId, cantidad, material) {
            console.log(material);

            var object = {
                MaterialId: materialId,
                Cantidad: cantidad
            };

            Materiales.push(object);

            dtMateriales.row.add([
                material,
                cantidad,
                '<button class="btn btn-danger" data-material="'+materialId+'" ><i class="fa fa-trash" aria-hidden="true"></i></button>'
            ]).draw();

            $('#Cantidad').val('');
        }


    </script>

}

    

