﻿@model BaseProject.Models.Inventario.SucursalUsuarioViewModel
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nueva Transaccion </a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-toolbox fa-fw"></i>Transacciones @Model.Sucursal</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtKardex">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Referencia</th>
                    <th>Tipo Transaccion</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

@section Scripts{
    
    <script>

        var dtKardex;

        $(document).ready(function () {

            dtKardex = $('#dtKardex').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("ObtenerTabla", "Kardex")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Referencia", "autoWidth": true },
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            if (row.TransaccionId == 1) {
                                return '<div class="label label-table label-success">'+row.Transaccion+'</div>'
                            }
                            return '<div class="label label-table label-danger">'+row.Transaccion+'</div>'
                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            return moment(row.Fecha).format('DD-MM-YYYY')
                        }
                    },
                    { "data": "Usuario", "autoWidth": true },
                    
                    {
                        "data": null,
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-kardex="' + row.Id + '" name="Ver"><i class="fas fa-eye"></i> Ver</a>' +
                                '</ul></div>';
                        }
                    }
                ]
            });

        });

        $(document).on('click', '.js-crear', function () {

            window.location.href = '@Url.Action("CrearTransaccion","Kardex")?SucursalId=@Model.SucursalId';

        });


        $('#dtKardex tbody').on('click', 'a[name="Ver"]', function () {

            var idTransacion = $(this).data('kardex');
            var data = { idTransacion: idTransacion };
            MostrarModal('/Kardex/VerTransaccion', data);

        });

        
    </script>

}
