﻿@model BaseProject.Models.Kardex.KardexViewModel
<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-eye fa-fw"></i> Transaccion N. @Model.Id </h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col col-lg-6 col-md-6 col-xs-12">

                <div class="form-group">
                    <label class="col-lg-12">Transaccion: <strong>@Model.Id</strong></label>

                </div>
                <div class="form-group">
                    <label class="col-lg-12">Referencia: <strong>@Model.Referencia</strong> </label>

                </div>
                <div class="form-group">
                    <label class="col-lg-12">Sucursal: <strong>@Model.Sucursal</strong> </label>

                </div>
                <div class="form-group">

                    @if (Model.TransaccionId == 1)
                    {
                        <label class="col-lg-12">Tipo Transaccion: <strong>@Model.Transaccion</strong> </label>
                    }
                    else
                    {
                        <label class="col-lg-12">Tipo Transaccion: <strong>@Model.Transaccion</strong> </label>
                    }

                </div>

            </div>

            <div class="col col-lg-6 col-md-6 col-xs-12">

                <table class="table table-reponsive table-bordered" id="dtMateriales" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-class="expand">Materiales</th>
                            <th data-class="expand">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.lstDetalle)
                        {
                        <tr>
                            <th>@a.Materiales</th>
                            <th>@a.Cantidad</th>
                        </tr>
                        }
                        
                    </tbody>
                </table>

            </div>

        </div>

        <br />

        <div class="widget-footer">
            <button type='button' class='btn btn-danger js-salir' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
        </div>

    </div>
</div>

<script>

    $(document).ready(function (){
    
    
    });

</script>

