﻿@{
    ViewBag.Title = "Inicio";
}










    @*<style>


            .nav-tabs.nav-justified > li {
                display: table-cell;
                width: 1%;
            }

            .nav-tabs.nav-justified {
                margin-bottom: -5px;
            }



            .nav-tabs .active a:before {
                background: #ffd600;
            }

            .nav-tabs .active a:before {
                left: 0;
                right: 0;
                transition: left 0.15s,right 0.15s;
            }



            .nav-tabs li > a:before {
                content: '';
                display: block;
                background: white;
                height: 2px;
                position: absolute;
                bottom: -1px;
                left: 50%;
                right: 50%;
                transition: left 0.05s,right 0.05s;
            }




        </style>


        <div class="" style="margin:-20px;">

                        <!--Nav tabs-->
                        <!--================================-->
                        <ul class="nav nav-tabs nav-justified">
                            <li >
                                <a href="#demo-asd-tab-1" data-toggle="tab">
                                    <i class="fa fa-wallet fa-fw"></i> Cuentas
                                </a>
                            </li>
                            <li class="active">
                                <a href="#demo-asd-tab-2" data-toggle="tab">
                                    <i class="fa fa-list fa-fw"></i>
                                    Registros
                                </a>
                            </li>
                            <li>
                                <a href="#demo-asd-tab-3" data-toggle="tab">
                                    <i class="fa fa-calendar-alt fa-fw"></i>
                                    Calendario
                                </a>
                            </li>
                        </ul>

                        <!--================================-->
                        <!--End nav tabs-->
                        <!-- Tabs Content -->
                        <!--================================-->
                        <div class="tab-content" style="background-color:white;">

                            <!--First tab-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade" id="demo-asd-tab-1">
                                <p class="pad-all text-lg">First tab</p>
                                <div class="pad-hor">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                    velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                    et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </div>
                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End first tab-->
                            <!--Second tab-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade in active" id="demo-asd-tab-2">
                                <p class="pad-all text-lg">Second tab</p>
                                <div class="pad-hor">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                    velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                    et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </div>
                            </div>
                            <!--End second tab-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--Third tab-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade" id="demo-asd-tab-3">
                                <p class="pad-all text-lg">Third tab</p>
                                <div class="pad-hor">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                    velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                    et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </div>
                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                        </div>
                    </div>*@



    @*<div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-lg-6">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <img alt="Profile Picture" class="img-md img-circle mar-btm" src="/Template/img/profile-photos/1.png">
                                <p class="text-lg text-semibold mar-no text-main">Aaron Chavez</p>
                                <p class="text-muted">Administrator</p>
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                                <button class="btn btn-primary mar-ver"><i class="demo-pli-male icon-fw"></i>Follow</button>
                                <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">1,345</span>
                                        <p class="text-muted mar-no">Following</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">23K</span>
                                        <p class="text-muted mar-no">Followers</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">278</span>
                                        <p class="text-muted mar-no">Post</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--Profile Widget-->
                        <!--========================demo-psi-=======================-->
                        <div class="panel panel-success panel-colorful">
                            <div class="pad-all">
                                <div class="media">
                                    <div class="media-left">
                                        <img alt="Profile Picture" class="img-md img-circle" src="/Template/img/profile-photos/8.png">
                                    </div>
                                    <div class="media-body pad-top">
                                        <span class="text-lg text-semibold">Lucy Moon</span>
                                        <p class="text-sm">Designer</p>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-justified pad-top">
                                    <a href="#" class="btn btn-icon bord-no demo-psi-facebook icon-lg add-tooltip" data-original-title="Facebook" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-twitter icon-lg add-tooltip" data-original-title="Twitter" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-google-plus icon-lg add-tooltip" data-original-title="Google+" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-instagram icon-lg add-tooltip" data-original-title="Instagram" data-container="body"></a>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->

                    </div>
                    <div class="col-lg-6">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel panel-info panel-colorful">
                            <div class="pad-all text-center">
                                <img alt="Profile Picture" class="img-md img-circle mar-btm" src="/Template/img/profile-photos/2.png">
                                <p class="text-lg text-semibold">Stephen Tran</p>

                                <div class="btn-group btn-group-justified pad-top">
                                    <a href="#" class="btn btn-icon bord-no demo-psi-facebook icon-lg add-tooltip" data-original-title="Facebook" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-twitter icon-lg add-tooltip" data-original-title="Twitter" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-google-plus icon-lg add-tooltip" data-original-title="Google+" data-container="body"></a>
                                    <a href="#" class="btn btn-icon bord-no demo-psi-instagram icon-lg add-tooltip" data-original-title="Instagram" data-container="body"></a>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <img alt="Profile Picture" class="img-lg img-circle mar-btm" src="/Template/img/profile-photos/5.png">
                                <p class="text-lg text-semibold mar-no text-main">Donald Brown</p>
                                <p class="text-muted">Web and Graphic designer</p>
                                <div class="mar-top">
                                    <button class="btn btn-mint">Follow</button>
                                    <button class="btn btn-mint">Message</button>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->


                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-lg-6">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel widget">
                            <div class="widget-header bg-warning text-center">
                                <h4 class="text-light mar-no pad-top">Ralph West</h4>
                                <p class="mar-btm">Administrator</p>
                            </div>
                            <div class="widget-body">
                                <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="/Template/img/profile-photos/4.png">

                                <div class="list-group bg-trans mar-no">
                                    <a class="list-group-item list-item-sm" href="#">
                                        <span class="label label-primary pull-right">15</span>
                                        Recent Activity
                                    </a>
                                    <a class="list-group-item list-item-sm" href="#">
                                        <span class="label label-success pull-right">100</span>
                                        Following
                                    </a>
                                    <a class="list-group-item list-item-sm" href="#">
                                        <span class="label label-danger pull-right">300</span>
                                        Photos
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel widget">
                            <div class="widget-header bg-purple">
                                <img class="widget-bg img-responsive" src="/Template/img/thumbs/img3.jpg" alt="Image">
                            </div>
                            <div class="widget-body text-center">
                                <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="/Template/img/profile-photos/9.png">
                                <h4 class="mar-no text-main">Lucy Moon</h4>
                                <p class="text-muted mar-no">Art Designer</p>
                            </div>
                        </div>
                        <!--===================================================-->

                    </div>
                    <div class="col-lg-6">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body text-center bg-purple">
                                <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="/Template/img/profile-photos/10.png">

                                <h4 class="text-light">Brenda Fuller</h4>
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                <ul class="list-unstyled text-center pad-top mar-no row">
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold">1,345</span>
                                        <p class="text-sm mar-no">Following</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold">23K</span>
                                        <p class="text-sm mar-no">Followers</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold">278</span>
                                        <p class="text-sm mar-no">Post</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group bg-trans pad-btm">
                                <a class="list-group-item" href="#"><i class="demo-pli-information icon-lg icon-fw"></i> User Details</a>
                                <a class="list-group-item" href="#"><i class="demo-pli-mine icon-lg icon-fw"></i> Usage Profile</a>
                                <a class="list-group-item" href="#"><span class="label label-info pull-right">New</span><i class="demo-pli-credit-card-2 icon-lg icon-fw"></i> Payment Options</a>
                            </div>
                        </div>
                        <!--===================================================-->

                    </div>
                </div>
            </div>
        </div>*@
