﻿body {
    padding-right: 0px !important
}


.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    background: darkcyan;
    color: white;

}

.modal-header >.close {
    color: white;
}

.modal-open {
    overflow-y: auto;
}

.modal-title {
    color:white;
}

/*.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}*/




@media (max-width: 760px) {

    .modal-dialog {
        min-height: 100vh !important;
        margin-left:30px;
      
    }
}