﻿@model BaseProject.Models.Producto.ProductoViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Nuevo Producto </h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12">
                <form id="frm" method="post">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-lg-12">Nombre: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Descripción: </label>
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Escribir la descripcion del proudcto aqui", @rows = 10, @width = "100%", @style = "resize: none;" })

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-12">Categoria Producto: </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("CategoriaProductoId", Model.lstCategoria as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Activo)

                    </div>

                </form>
            </div>

            <div class="col col-lg-6 col-md-6 col-xs-12">
                <form action="@Url.Action("SubirAdjuntoProducto", "Producto", new { idProducto = 0})" class="dropzone dz-clickable js-dropzone" id="mydropzone" style="height:100%">
                    <div class="dz-default dz-message">
                        <span>
                            <span class="text-center">
                                <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                    <span class="font-lg">
                                        <i class="fas fa-file-image text-danger"></i>
                                        </i> Drop files <span class="font-xs">to upload</span>
                                    </span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span>
                                </span>
                            </span>
                        </span>
                    </div>
                </form>
            </div>


        </div>

        <div class="row">

            <div class="col col-lg-12 col-md-12 col-sm-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Agregar Materiales</legend>
                    <form method="post" id="frmMaterial">
                        <div class="form-horizontal">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Material</label>

                                        <div class="col-md-12">
                                            @Html.DropDownList("Material", Model.lstProducto as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Formula: </label>
                                        <div class="col-md-10 col-sm-10 col-lg-10">
                                            <input class="form-control numeric" name="formula" id="formula" type="text" />
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-lg-1">
                                            <div class="btn btn-primary btn-sm js-addmaterial" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Material"><i class="fa fa-plus"></i></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Materiales</legend>

                    <table class="table table-reponsive table-bordered" id="dtMateriales" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th data-class="expand">Materiales</th>
                                <th data-class="expand">Formula</th>
                                <th data-class="expand"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </fieldset>
            </div>

        </div>


        <br />

        <div class="widget-footer">
            <button type='button' class='btn btn-danger js-regresar'><i class="text-lg fas fa-arrow-left"></i> Cerrar</button>
            <button type="submit" class="btn btn-success js-enviar"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
        </div>



    </div>
</div>

@section Scripts{
    
    <script>

        Dropzone.autoDiscover = false;
        var dtMateriales;
        var Materiales = [];

        $(document).ready(function () {

            $('.select2').chosen();

            $('#dtMateriales').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });

            dtMateriales = $('#dtMateriales').DataTable();

            $('#mydropzone').dropzone({
                autoProcessQueue: false,
                addRemoveLinks: true,
                maxFilesize: 50,
                maxFiles: 1,
                parallelUploads: 1,
                uploadMultiple: false,
                dictDefaultMessage:
                    '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!',
                removedfile: function(file) {
                    var _ref;
                    (ref = file.previewElement) != null ? ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                init: function() {

                    myDropzone = this;

                    myDropzone.on('complete',
                        function(file) {
                            window.location.href = '@Url.Action("Index","Producto")';
                        });
                }
            });
        });


        $('#frm').validate({
            ignore: [],
            rules: {
                Nombre: {
                    required: true,
                    maxlength: 150
                },
                Descripcion: {
                    required: true,
                    maxlength: 400
                },
                CategoriaProductoId: {
                    required: true
                }
            },
            messages: {
                Nombre: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 150 caracteres"
                },
                Descripcion: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 400 caracteres"
                },
                CategoriaProductoId: {
                    required: "Campo requerido"
                }
            },
            submitHandler: function (form) {

                var model = {
                    Nombre: $('#Nombre').val(),
                    Descripcion: $('#Descripcion').val(),
                    CategoriaProductoId: $('#CategoriaProductoId option:selected').val(),
                    Activo: '@Model.Activo',
                    lstDetalle: Materiales
                };


                $.ajax({
                    url: "@Url.Action("CrearProducto","Producto")",
                    type: "post",
                    dataType: "JSON",
                    data: {model: model},
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (response) {
                        if (response.Ok) {
                            myDropzone.on('sending', function (file, xhr, data) {
                                data.append("idProducto", response.Message);
                            });

                            myDropzone.processQueue();
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;

            }
        })

        $('#frmMaterial').validate({
            ignore: [],
            rules: {
                Material: {
                    required: true,

                },
                formula: {
                    required: true
                }
            },
            messages: {
                Material: {
                    required: "Campo requerido",
                },
                formula: {
                    required: "Campo requerido"
                }
            },
            submitHandler: function (form) {

                var material = $('#Material option:selected').text();
                var formula = $('#formula').val();

                var existe = false;

                dtMateriales.rows().every(function (rowIdx, tableLopp, rowLopp) {
                    if (this.data()[0] === material) {
                        existe = true;
                    }

                });

                if (existe) {
                    var ErrorData = {
                        Ok: false,
                        Message: "El material ya se ha agregado!"
                    };
                    AlertaAjax(ErrorData);
                } else {
                    var materialId = $('#Material option:selected').val();

                    var object = {
                        MaterialId: materialId,
                        Formula: formula
                    };

                    Materiales.push(object);
                    console.log(Materiales);
                    dtMateriales.row.add([
                        material,
                        formula,
                        '<button class="btn btn-danger" data-material="'+materialId+'" ><i class="fa fa-trash" aria-hidden="true"></i></button>'
                    ]).draw();
                    $('#formula').val('');
                }

            }
        });


        $(document).on('click', '.js-addmaterial', function () {
            $('#frmMaterial').submit();
        });

         $(document).on('click', '.js-enviar', function () {
            $('#frm').submit();
        }); 

    </script>

}

    