﻿@model BaseProject.Models.Producto.ProductoViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Nuevo Producto </h1>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12">
                <form id="frm" method="post">
                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="col-lg-12">Nombre: </label>
                            <div class="col-lg-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Descripción: </label>
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Escribir la descripcion del proudcto aqui", @rows = 10, @width = "100%", @style = "resize: none;" })

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-12">Categoria Producto: </label>
                            <div class="col-lg-12">
                                @Html.DropDownList("CategoriaProductoId", Model.lstCategoria as IEnumerable<SelectListItem>, new { @class = "form-control input-lg select2", style = "width:100%;" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Activo)

                    </div>

                </form>
            </div>

            <div class="col col-lg-6 col-md-6 col-xs-12">
                <form action="@Url.Action("SubirAdjuntoProducto", "Producto", new { idProducto = @Model.Id })" class="dropzone dz-clickable js-dropzone" id="mydropzone" style="height:100%">
                    <div class="dz-default dz-message">
                        <span>
                            <span class="text-center">
                                <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                    <span class="font-lg">
                                        <i class="fas fa-file-image text-danger"></i>
                                        </i> Drop files <span class="font-xs">to upload</span>
                                    </span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span>
                                </span>
                            </span>
                        </span>
                    </div>
                </form>
            </div>


        </div>

        <div class="row">

            <div class="col col-lg-12 col-md-12 col-sm-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Agregar Materiales</legend>
                    <form method="post" id="frmMaterial">
                        <div class="form-horizontal">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Material</label>

                                        <div class="col-md-12">
                                            @Html.DropDownList("Material", Model.lstProducto as IEnumerable<SelectListItem>, new { @class = "form-control select2", style = "width:100%;" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-12">Formula: </label>
                                        <div class="col-md-10 col-sm-10 col-lg-10">
                                            <input class="form-control numeric" name="formula" id="formula" type="text" />
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-lg-1">
                                            <div class="btn btn-primary btn-sm js-addmaterial" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Material"><i class="fa fa-plus"></i></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Materiales</legend>

                    <table class="table table-reponsive table-bordered" id="dtMateriales" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th data-class="expand">Materiales</th>
                                <th data-class="expand">Materiales</th>
                                <th data-class="expand">Formula</th>
                                <th data-class="expand"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </fieldset>
            </div>

        </div>


        <br />

        <div class="widget-footer">
            <button type='button' class='btn btn-danger js-regresar'><i class="text-lg fas fa-arrow-left"></i> Cerrar</button>
            <button type="submit" class="btn btn-success js-enviar"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
        </div>



    </div>
</div>

@section Scripts{

    <script>
        var myDropzone;

        Dropzone.autoDiscover = false;
        var dtMateriales;
        var Materiales = [];
        var final_;
        var yaSubio = false;

        $(document).ready(function () {

            $('.select2').chosen();

            

            $('#mydropzone').dropzone({
                autoProcessQueue: false,
                addRemoveLinks: true,
                maxFilesize: 50,
                maxFiles: 10,
                parallelUploads: 1,
                uploadMultiple: true,
                dictDefaultMessage:
                    '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!',
                removedfile: function (file) {
                    if (file.id)
                        DeleteFile(file);
                },
                init: function () {

                    myDropzone = this;

                    $.ajax({
                        url: '@Url.Action("ObtenerAdjunto", "Producto")',
                        type: "GET",
                        data: { idProducto: '@Model.Id' },
                        success: function (adjuntos) {
                            console.log(adjuntos);

                            var file = { name: adjuntos.nombre, size: Number(adjuntos.AdjuntoLength), type: adjuntos.tipo, id: adjuntos.idAdjunto };
                            myDropzone.options.addedfile.call(myDropzone, file);
                            myDropzone.files.push(file)
                            myDropzone.on("complete", function (file) {
                                var a = document.createElement('a');
                                a.setAttribute('href', "@Url.Action("DescargarAdjunto", "Producto")?&idProducto=@Model.Id");
                                a.setAttribute('class', 'dz-remove js-download');
                                a.setAttribute('target', '_blank');
                                a.innerHTML = "Download";
                                $(file.previewTemplate).find('.js-download').remove();
                                file.previewTemplate.appendChild(a);
                            });
                            myDropzone.emit("complete", file);


                        },
                        beforeSend: function () {
                            LoadWaitNotification();
                        },
                        complete: function () {
                            UnloadWaitNotification();
                        }
                    });

                    myDropzone.on('complete',
                        function (file) {

                            if (yaSubio) {
                                window.location.href = '@Url.Action("Index","Producto")';
                            }

                        });

                }

            });

            dtMateriales = $('#dtMateriales').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetDetalleProducto", "Producto")?idProducto=@Model.Id',
                    "type": "GET",
                    "datatype": "json",
                    
                    "error": function (xhr, status, error) { }
                },
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ],
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Material", "autoWidth": true },
                    { "data": "Formula", "autoWidth": true },
                    
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            
                            return '<button class="btn btn-danger" name="eliminar" data-detalle="'+row.Id+'"><i class="fa fa-trash" aria-hidden="true"></i></button>'
                        }
                    }
                ],
                "order": [[ 0, "asc" ]]
            });

            function DeleteFile(file) {
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                yaSubio = false;
            }

            $('#dtMateriales tbody').on('click', 'button', function () {
                var detalle = $(this).data('detalle');
               

                $.ajax({
                    url: "@Url.Action("EliminarDetalle", "Producto")",
                    type: "POST",
                    "async": false,
                    data: { idDetalle: detalle },
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {

                            dtMateriales.row(row).remove().draw(false);

                        }
                    }
                });
            });


            $(document).on('click', '.js-addmaterial', function () {
                $('#frmMaterial').submit();
            });


            $('#frmMaterial').validate({
                ignore: [],
                rules: {
                    Material: {
                        required: true,

                    },
                    formula: {
                        required: true
                    }
                },
                messages: {
                    Material: {
                        required: "Campo requerido",
                    },
                    formula: {
                        required: "Campo requerido"
                    }
                },
                submitHandler: function (form) {
                    var material = $('#Material option:selected').text();
                    var formula = $('#formula').val();
                    var existe = false;

                    dtMateriales.rows().every(function (rowIdx, tableLopp, rowLopp) {

                        console.log(this.data());

                        if (this.data().Material === material) {
                            existe = true;
                        }

                    });

                    if (existe) {

                        var ErrorData = {
                            Ok: false,
                            Message: "El material ya esta agregado!"
                        };
                        AlertaAjax(ErrorData);

                    } else {

                        var detalle = {
                            MaterialId: $('#Material option:selected').val(),
                            Formula: formula,
                            Id: '@Model.Id'
                        };


                        $.ajax({
                            url: "@Url.Action("AgregarDetalle", "Producto")",
                            type: "POST",
                            "async": false,
                            data: { detalle: detalle },
                            beforeSend: function () {
                                LoadWaitNotification();
                            },
                            complete: function () {
                                UnloadWaitNotification();
                            },
                            success: function (data) {
                                if (data.Ok) {
                                    dtMateriales.ajax.reload(null, false);
                                }
                            }
                        });

                    }


                }
            });

            $(document).on('click', '.js-enviar', function () {

                $('#frm').submit();

            });


            $('#frm').validate({
                ignore: [],
                rules: {
                    Nombre: {
                    required: true,
                    maxlength: 150
                },
                    Descripcion: {
                        required: true,
                        maxlength: 400
                    },
                    CategoriaProductoId: {
                        required: true
                    }
                },
                messages: {
                    Nombre: {
                        required: "Campo requerido",
                        maxlength: "Ingrese un maximo de 150 caracteres"
                    },
                    Descripcion: {
                        required: "Campo requerido",
                        maxlength: "Ingrese un maximo de 400 caracteres"
                    },
                    CategoriaProductoId: {
                        required: "Campo requerido"
                    }
                },
                submitHandler: function (form) {

                    var model = {
                        Nombre: $('#Nombre').val(),
                        Descripcion: $('#Descripcion').val(),
                        CategoriaProductoId: $('#CategoriaProductoId option:selected').val(),
                        Activo: '@Model.Activo',
                        Id: '@Model.Id'
                    };

                    $.ajax({
                        "async": false,
                        "url": '@Url.Action("EditarProducto", "Producto")',
                        "type": "POST",
                        "data": { model: model },
                        success: function(response) {

                            if (response.Ok) {
                                myDropzone.processQueue();
                                yaSubio = true;
                            }

                        

                        }
                    });

                }
            })

        })

    </script>    
    
}
