﻿
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nuevo Producto</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-list-alt fa-fw"></i>Listado de Productos</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtProductos">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>

        var dtProductos;

        $(document).ready(function () {


            dtProductos = $('#dtProductos').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("ObtenerTabla", "Producto")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Nombre", "autoWidth": true },
                    { "data": "Descripcion", "autoWidth": true },
                    { "data": "Categoria", "autoWidth": true },
                    {
                        data: null,
                        render: function (data) {
                            if (data.Activo) {
                                return '<div class="label label-success">Si</div>';
                            } else {
                                return '<div class="label label-danger">No</div>';
                            }
                        }
                    },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {

                            var activar = "";
                            var clase = "";

                            if (row.Activo) {
                                clase = ""
                                activar = '<li><a href="javascript: void(0)" data-producto="' + row.Id + '" name="Desactivar"><i class="fas fa-ban"></i> Desactivar</a>';
                            } else {
                                clase = "disabled";
                                activar = '<li><a href="javascript: void(0)" data-producto="' + row.Id + '" name="Activar"><i class="fas fa-check-circle"></i> Activar</a>';
                            }


                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li class="' + clase + '"><a class="' + clase + '" href="javascript: void(0)" data-producto="' + row.Id + '" name="Edit"><i class="fas fa-edit"></i> Editar</a>' +
                                '<li><a href="javascript: void(0)" data-producto="' + row.Id + '" name="Ver"><i class="fas fa-eye"></i> Ver</a>' +
                                activar +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {
            window.location.href = '@Url.Action("CrearProducto","Producto")';
            
        });


        $('#dtProductos tbody').on('click', 'a[name="Edit"]', function () {

            var isDisabled = $(this);

            if (isDisabled[0].className !== "disabled") {
                var producto = $(this).data('producto');
                window.location.href = '@Url.Action("EditarProducto","Producto")?idProducto='+ producto;
            }

        });

        $('#dtProductos tbody').on('click', 'a[name="Ver"]', function () {
            var producto = $(this).data('producto');

            var data = { idProducto: producto };
            MostrarModal('/Producto/VerProducto', data);
            
        });

        $('#dtProductos tbody').on('click', 'a[name="Desactivar"]', function () {

            var producto = $(this).data('producto');

            var data = { Id: producto };

            DeshabilitarRegistro(data, dtProductos, '/Producto/CambiarEstado/', 'Desea inhabilitar el producto?','text-danger');

        });

        $('#dtProductos tbody').on('click', 'a[name="Activar"]', function () {

            var producto = $(this).data('producto');

            var data = { Id: producto };

            DeshabilitarRegistro(data, dtProductos, '/Producto/CambiarEstado/', 'Desea habilitar el producto?','text-primary');



        });


    </script>


}