﻿@model BaseProject.Models.Producto.ProductoViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-plus-square fa-fw"></i> Producto @Model.Nombre </h1>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <form id="frm" method="post">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-lg-12">Nombre: <strong>@Model.Nombre</strong></label>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Descripcion: <strong>@Model.Descripcion</strong></label>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">Categoria: <strong>@Model.Categoria</strong></label>
                        </div>

                    </div>

                </form>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <img src="@Url.Action("ObtenerImagen","Producto")?idProducto=@Model.Id" style="width:100%;height:100%" />

            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-xs-12">

                <table class="table table-reponsive table-bordered" id="dtMateriales" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-class="expand">Materiales</th>
                            <th data-class="expand">Formula</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.lstDetalle)
                        {
                            <tr>
                                <th>@a.Material</th>
                                <th>@a.Formula</th>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

        <div class="widget-footer">
            <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
        </div>


        </div>
</div>
