﻿@using BaseProject.Models
@model BaseProject.Models.Usuario.CrearUsuarioViewModel
@{
    ViewBag.Title = "Registro de usuario";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BPWALLET</title>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->

    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Template/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Template/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="~/Template/css/pace.min.css" rel="stylesheet">
    <script src="~/Template/js/pace.min.js"></script>
    <!--Demo [ DEMONSTRATION ]-->

    <link href="~/Template/css/themes/type-a/theme-yellow.min.css" rel="stylesheet" />

    <link href="~/FontAwesome/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <style>
        .btn-yellow {
            background-color: #ffd80f;
            border-color: #ffd80f !important;
            color: #294f75;
        }

        .cls-content .cls-content-md {
            width: 500px;
        }
    </style>
    <div id="container" class="effect aside-float aside-bright boxed-layout mainnav-lg" style="background-image: url('../../Template/premium/boxed-bg/polygon/bg/3.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        @*<div id="bg-overlay"></div>*@
        @*<div id="bg-overlay" class="bg-img" style="background-image: url('http://www.themeon.net/nifty/v2.9.1/premium/boxed-bg/abstract/bg/15.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;" "></div>*@
        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content" style="padding:0; ">
            <div class="cls-content-lg panel">
                <div class="panel-body" style="color:white;">
                    <div class="text-center">

                        <img src="~/img/Logo-xs.png" width="20%" />
                        <h4 style="color:white; margin-bottom:0px;">Registrarse</h4>

                    </div>
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {

                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
                        @Html.HiddenFor(model => model.Id)


                        <div class="row">
                      
                           
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                       
                  
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                        
                        </div>

                        <div class="row">

                   
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                                        @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @Value = Model.FechaNacimiento.ToString("yyyy-MM-dd") } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                                </div>

                      
                    
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>*@
                         

                        </div>
                        <hr />
                        <div class="row">
                     
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                           

                        </div>

                        <div class="row">

                    
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                          
                   
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="fa fa-comment-dots"></i></span>
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control input-lg" } })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                          
                        </div>
                        <br />

                        <div class="form-group">
                            <button class="btn btn-yellow btn-lg btn-block" type="submit">Registrase</button>
                        </div>



                    }

                </div>


            </div>
        </div>


    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Template/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Template/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Template/js/nifty.min.js"></script>
    <!--=================================================-->
    <!--Background Image [ DEMONSTRATION ]-->
    @*<script src="/Template/js/demo/bg-images.js"></script>*@
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

