﻿@model BaseProject.Models.TipoMedida.TipoMedidaViewModel

<div class="panel panel-dark">
    <div class="panel-heading">
        <h1 class="panel-title"><i class="fas fa-edit fa-fw"></i> Editar Tipo Medida @Model.Nombre </h1>
    </div>
    <div class="panel-body">
        <form id="frm" method="post">
            <div class="form-horizontal">

                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="col-lg-12">Nombre: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-12">Prefijo: </label>
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="widget-footer">
                    <button type='button' class='btn btn-danger' data-dismiss='modal'><i class="text-lg ion-close-round"></i> Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="text-lg ion-checkmark-round"></i> Guardar</button>
                </div>

            </div>

        </form>

    </div>
</div>

<script>

    $(document).ready(function (){

        $('#frm').validate({
            ignore: [],
            rules: {
                Nombre: {
                    required: true,
                    maxlength: 200
                },
                Prefijo: {
                    required: true,
                    maxlength: 10
                }
            },
            messages: {
                Nombre: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 200 caracteres"
                },
                Prefijo: {
                    required: "Campo requerido",
                    maxlength: "Ingrese un maximo de 10 caracteres"
                }
            },
            submitHandler: function (form) {

                $.ajax({
                    url: "@Url.Action("EditarTipoMedida","TipoMedida")",
                    type: "post",
                    dataType: "JSON",
                    data: $(form).serialize(),
                    beforeSend: function () {
                        LoadWaitNotification();
                    },
                    complete: function () {
                        UnloadWaitNotification();
                    },
                    success: function (data) {
                        if (data.Ok) {
                            $("#myModal").modal("hide");
                            dtTipoMedida.ajax.reload(null, false);
                            AlertaAjax(data);
                        }
                        else {
                            AlertaAjax(data);
                        }
                    }
                });

                return false;
            }
        });

    });

</script>

