﻿
<div class="panel panel-dark">
    <div class="panel-heading">
        <div class="panel-control">

            <a class="btn btn-success js-crear"><i class="fa fa-plus-circle fa-fw"></i> Nuevo Tipo Medida</a>
        </div>
        <h3 class="panel-title"> <i class="fas fa-ruler-combined fa-fw"></i>Lista de Tipos de Medidas</h3>
    </div>

    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover" style="width:100%;" id="dtTipoMedida">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Prefijo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
</div>

@section Scripts{

    <script>

        var dtTipoMedida;

        $(document).ready(function () {


            dtTipoMedida = $('#dtTipoMedida').DataTable({
                autoWidth: true,
                responsive: true,
                language: {
                    "emptyTable": "No se encontraron resultados.",
                    "search": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                    "paginate": {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    "lengthMenu": " _MENU_ ",
                    "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                    "infoEmpty": "No hay registros para mostrar.",
                },
                "ajax": {
                    url: '@Url.Action("GetTabla", "TipoMedida")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, status, error) { }
                },
                columns: [
                    { "data": "Id", "autoWidth": true },
                    { "data": "Nombre", "autoWidth": true },
                    { "data": "Prefijo", "autoWidth": true },
                    {
                        "data": "null",
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group"> <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Acciones <i class="fa fa-caret-down fa-lg"></i> </button>' +
                                '<ul class="dropdown-menu">' +
                                '<li><a href="javascript: void(0)" data-tipomedida="' + row.Id + '" name="Edit">Editar</a>' +
                                '</ul></div>';
                        }
                    }
                ]
            });


        });

        $(document).on('click', '.js-crear', function () {

            $.ajax({
                url: "@Url.Action("CrearTipoMedida", "TipoMedida")",
                type: "GET",
                beforeSend: function() {
                    LoadWaitNotification();
                },
                complete: function() {
                    UnloadWaitNotification();
                },
                success: function (data) {
                    $("#modalBody").html(data);
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                    $("#myModal").modal("show");
                }
            });


        });


        $('#dtTipoMedida tbody').on('click', 'a[name="Edit"]', function () {

            var tipomedida = $(this).data('tipomedida');
            $.ajax({
                    url: "@Url.Action("EditarTipoMedida", "TipoMedida")",
                    type: "GET",
                    beforeSend: function() {
                        LoadWaitNotification();
                    },
                    complete: function() {
                        UnloadWaitNotification();
                    },
                    data: { idTipoMedida: tipomedida },
                    success: function (data) {
                        $("#modalBody").html(data);
                        $('#myModal').modal({ backdrop: 'static', keyboard: false })
                        $("#myModal").modal("show");
                    }
                });

        });




    </script>


}

